# Lock files
/*.rbxlx.lock
/*.rbxl.lock
*.lock

# Ignore installed packages
Packages/
luau_packages/
lune_packages/
.pesde/

# Ignore build artifacts
*.rbxlx
*.rbxl
*.rblx
*.rbxmx
*.rbxm
package.tar.gz

# Rojo and Luau lsp stuff
sourcemap.json

# Temp files
*.tmp
*.swp
*.swo

# Standard lib
roblox.yml

# Ignore logs
*.log

# Ignore Roblox Studio cache and settings
*.rbxl.autosave
*.rbxl.backup
*.rbxlx.autosave
*.rbxlx.backup